@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dosis & display=swap');

body{ 
    background: #1a1a1a;
}

section{
    width: 90%;
    max-width: 1600px;
    height: 625px;
    border: 1px solid #ffff;
    margin: 50px auto;
 }

#fila{ 
    width: 100%;
    display: flex;
 }

 #foto{ 
    width: 40%;
 }

 #info{ 
    width: 60%;
    
 }

 #info h2{
    color: #00f29e;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Fugaz One', cursive;
}

#info h1{ 
   color: #ffffff;
   font-size: 56px;
   font-weight: 700;
   font-family:'Fugaz One', cursive;
   margin-top: 0%;
   margin-bottom: 0%;
}

#info p{ 
   color: #ffffff;
   font-size: 20px;
   font-family: 'Dosis', sans-serif;
}

#info article{
   border: 4px solid #00f29e;
   width: 94%;
}

article ul li{
   color:#ffffff;
   font-size: 22px;
   font-family: 'Dosis', sans-serif;
   list-style: none;
   width: 48%;
   display: inline-block;
   margin-bottom: 12px;
}
